.drawio-container {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 500px;
    border: 2px solid rgb(93, 93, 93);
    overflow: hidden;
}

.btn-upload,.btn-download,.btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.drawio-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
}

.drawio-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    transform-origin: center center;
    transition: transform 0.1s ease-in-out;
}