@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    font-family: 'Oxanium', sans-serif;
}

.App {
  text-align: center;
}

.drawio-container {
  margin: 20px;
}
